html{
    font-size: 14px;
    color: #666;
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0 ;
}

.post-container{
    width: 100%;
    max-width: 950px;
    margin: auto;
}

.main-container{
    width: 100%;
}

.container__top{
    width: 100%;
    height: 30em;
    background: url('../content/top1.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0, 0.2);
}

.navbar-menu{
    width: 100%;
    max-width: 1120px;
    display:flex;
    justify-content: flex-start;
}

.navbar-start{
    display: flex;
}

.navbar-item{
    position: relative;
    color: #666;
    font-size:1.3em;
    padding: 0.8em;
    display: flex;
    white-space: nowrap;
    cursor: pointer;
}

.navbar-item>a{
    color: #666;
}

.navbar-item:hover{
    color: #333;
    background: #ddd;
}

.navbar-dropdown{
    display: none;
    position: absolute;
    left:0;
    top:100%;
    padding:0.3em 0;
    background: #fff;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 8px 8px rgba(10,10,10,.1);
    min-width: 100%;
    font-size:0.7em;
}

.navbar-item.is-hoverable:hover .navbar-dropdown{
    display:block;
    
}

.navbar-content{
    flex-grow: 1;
    flex-shrink: 1;
}

.nav-item-subtext{
    color: #3273dc;
}

.post-container h3{
    text-align: center;
    font-size: 1.5em;
    padding: 0 0 1em 0;
}

.post-container{
    padding-top: 2em;
    padding-bottom: 10em;
}


